@tailwind base;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-family: "Montserrat";
    @apply font-bold;
  }
  html {
    scroll-behavior: smooth;
    scroll-padding-top: theme("spacing.32");
    @apply bg-black;
  }

  .bgimage {
    @apply object-cover object-center fixed invisible w-full;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -10;
  }
  .bgimage.vertical {
    @apply visible;
  }
  @media (min-aspect-ratio: 1/1) {
    .bgimage {
      @apply visible;
    }
    .bgimage.vertical {
      @apply invisible;
    }
  }

  .transition-default {
    @apply transition-all duration-200 ease-in-out;
  }
}
@tailwind components;

@layer components {
  .header {
    @apply fixed z-50 top-0 w-full transition-default bg-white text-black shadow-lg;
    & .logo {
      @apply h-8 align-baseline;
      transition: height 400ms;
    }
    &.isTop {
      @apply bg-transparent;
      & .logo {
        @apply h-10;
        filter: brightness(0) invert(1);
      }
      & .menu-toggle {
        @apply text-white;
      }
    }
  }
  @screen lg {
    .header {
      & .logo {
        @apply h-10;
      }
      &.isTop {
        & .link {
          @apply text-white;
          &:hover,
          &:active {
            @apply text-white;
          }
        }

        & .logo {
          @apply h-12;
        }
      }
    }
  }

  .menu-toggle {
    @apply w-4 h-4 ml-auto;
    & svg {
      @apply align-top;
    }
  }
  .menu {
    @apply hidden;
    & ul {
      @apply mx-auto flex gap-8;
    }
  }
  @screen lg {
    .menu {
      @apply block;
    }
  }
  .menu-mobile {
    @apply absolute inset-x-0 top-full bg-white shadow-lg transition-default transform origin-top;
    & ul {
      @apply mx-auto flex flex-col gap-8 px-16 py-8;
    }
  }
  @screen lg {
    .menu-mobile {
      @apply block;
    }
  }

  .link {
    @apply text-primary transition-default;
    &:hover,
    &:active {
      @apply text-primary-light;
    }
  }
  .btn {
    @apply px-4 py-2 rounded-full font-medium transition-default inline-block;
    font-family: "Montserrat";
  }
  .btn-primary {
    @apply bg-primary text-primary-text;
    &:hover,
    &:focus {
      @apply bg-primary-light;
    }
  }
  .btn-outline {
    @apply border border-primary text-primary;
    &:hover,
    &:focus {
      @apply bg-primary-light text-primary-text;
    }
  }
  .paper {
    @apply shadow-lg rounded bg-white;
  }
  .list-item p {
    @apply inline-block;
  }
}

@tailwind utilities;

@layer utilities {
}
